# Quark AutoSave Bot
# Copy to .env and fill in your values

# Required
TELEGRAM_BOT_TOKEN=
SUPERUSER=
QAS_TOKEN=

# Optional
QAS_ENDPOINT=http://quark-auto-save:5005
SIMPLE_COMMAND=1
SIMPLE_SAVE_ROOT=auto
QAS_PORT=5005
QAS_WEBUI_USER=admin
QAS_WEBUI_PASS=
